<!DOCTYPE html>
<html>
<head>
  <title>AppJoin</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="mb-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- logo -->
  <iframe id="logo-index" src="images/appjoin_logo.svg"></iframe>

  <div ng-app="app">
    <div ng-controller="IndexController as ctrl">
      <div id="message-div-title">{{ ctrl.messageTitle }}<div>
      <div id="message-div" ng-bind-html="ctrl.message"></div>
      <div id="inputi-div">
        <input type="text" ng-model="ctrl.input" /> 
        <button ng-click="ctrl.buttonClick()" >{{ ctrl.buttonText }}</button>
      </div>
    </div> <!-- angular IndexController -->
  </div> <!-- angular app -->

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app/app.js"></script>
	<script type="text/javascript" src="js/app/controllers/IndexController.js"></script>
	<script type="text/javascript" src="js/app/services/SessionService.js"></script>
</body>
</html>
