<!DOCTYPE html>
<html>
<head>
  <title>AppJoin</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="mb-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- logo -->
  <iframe id="logo-index" src="images/appjoin_logo.svg"></iframe>

  <div ng-app="app">
    <div ng-controller="IndexController as ctrl">
      {{ ctrl.test }}
    </div> <!-- angular IndexController -->
  </div> <!-- angular app -->

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app/app.js"></script>
	<script type="text/javascript" src="js/app/controllers/IndexController.js"></script>
	<script type="text/javascript" src="js/app/services/SessionService.js"></script>
</body>
</html>
