<!DOCTYPE html>
<html>
<head>
  <title>AppJoin</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="mb-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- logo -->
  <iframe id="logo-index" src="images/appjoin_logo.svg"></iframe>

  <div ng-app="app">
    <div ng-controller="IndexController as ctrl">

			<!-- message and input -->
      <div id="message-div" ng-bind-html="ctrl.message"></div>
      <div id="input-div" ng-show="ctrl.inputRequested">
        <input type="text" ng-model="ctrl.input" /> 
        <button ng-click="ctrl.buttonClick()" ng-disabled="!ctrl.inputRequested">{{ ctrl.buttonText }}</button>
      </div><!-- message and input -->

			<!-- user location -->
      <div id="user-location-div">
        <div id="my-location-message">{{ ctrl.myLocationMessage }}</div>
				<div id="my-location-div">My Location<div>
        Region: 
				<select 
					ng-model="ctrl.region" 
					ng-change="ctrl.setRegion()" 
					ng-options="region for region in ctrl.regions"
					size="1">
				</select>

				Country: 
				<select 
					ng-disabled="!ctrl.region"
					ng-model="ctrl.country"
          ng-change="ctrl.setCountry()"
					ng-options="country for country in ctrl.countries">
					size="1" 
        </select>

				City/State: 
				<select size="1" 
					ng-disabled="!ctrl.region || !ctrl.country"
					ng-model="ctrl.cityState"
          ng-options="cityState for cityState in ctrl.cityStates">
        </select>
        <button ng-click="ctrl.updateMyLocation()">Update My Location</button> 
      </div> <!-- user location -->

      <!-- user friends -->
      <div id="friends-div">
        <b>Friends</b><br>
        <friend-detail ng-repeat="friend in ctrl.friends" friend="friend"></friend-detail>
      </div>
      <!-- user friends -->

    </div> <!-- angular IndexController -->
  </div> <!-- angular app -->

	<script type="text/javascript" src="js/city_state.js"></script>

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app/app.js"></script>
	<script type="text/javascript" src="js/app/controllers/IndexController.js"></script>
	<script type="text/javascript" src="js/app/services/SessionService.js"></script>
	<script type="text/javascript" src="js/app/services/InteractionService.js"></script>
	<script type="text/javascript" src="js/app/components/friendDetail.js"></script>
</body>
</html>
