<!DOCTYPE html>
<html>
<head>
  <title>AppJoin</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/mb-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <!-- logo -->
  <iframe id="logo-index" src="/images/appjoin_logo.svg"></iframe>

  <!-- Welcome text -->
  <div>Welcome to App Join! AppJoin helps you find Facebook friends who are also on Stack Exchange, and receive notifications about their activity on SE.</div>

  <!-- first login link -->
  <div>Please click the link below to be directed to external logins:</div>
  <a href="/login/init">Login</a>
</body>
</html>
