<!DOCTYPE html>
<html>
<head>
  <title>AppJoin</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/mb-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <!-- logo -->
  <iframe id="logo-index" src="/images/appjoin_logo.svg"></iframe>

  <!-- Welcome text -->
  <div>Welcome to App Join! AppJoin helps you find Facebook friends who are also on Stack Exchange, and receive notifications about their activity on SE.</div>

  <!-- first login link -->
  <div>Please click the link below to be directed to external logins:</div>
  <a href="/login/init">Login</a>

  <script type="text/javascript">
    var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
    	var cookie = cookies[i];
    	var eqPos = cookie.indexOf("=");
    	var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    	document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    } 
  </script>
</body>
</html>
