<!DOCTYPE html>
<html>
<head>
  <title>AppJoin</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/mb-icon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <!-- logo -->
  <iframe id="logo-index" src="/images/appjoin_logo.svg"></iframe>

  <div>Redirecting to Stack Exchange login...<div>

  <script type="text/javascript">
    setTimeout(function(){ window.location = "/login/se_oauth" }, 3000);
  </script>
</body>
</html>
